dentist-voice-agent---corrected-PZEBVGK1tRq9dhW0.json
{"createdAt":"2025-10-07T03:40:10.893Z","updatedAt":"2025-10-07T04:48:42.000Z","id":"PZEBVGK1tRq9dhW0","name":"Dentist Voice Agent - CORRECTED","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"4fe15a31-6365-4b96-a3d5-3b02bbe3d31a","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-688,-272],"id":"45b4fa65-dc60-409a-9362-e13e8948c456","name":"webhook_trigger","webhookId":"4fe15a31-6365-4b96-a3d5-3b02bbe3d31a"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-352,16],"id":"ff1109ff-288a-4a4b-a433-9f1d214de834","name":"think"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[80,-272],"id":"06a3d1c5-ecb9-4bd6-9c50-e4a0e2cf0f2c","name":"respond_to_webhook"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-688,16],"id":"def40827-9705-4bfb-b202-88bf9766e263","name":"gemini-2.5-flash","credentials":{"googlePalmApi":{"id":"bihMSVCE7BMW5KAd","name":"LP - Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=## Request Data\n\n{{ JSON.stringify($json.body, null, 2)}}\n","options":{"systemMessage":"=## Role\n\nYou are an AI agent responsible for handling back office operations at the dental office \"Pearly Whites Dental\". You must make a decision about the data you receive and make a call into the appropriate tool in order to process this request and return the appropriate data necessary.\n\nYou should look at the provided `tool` value in the request body to help decided which tool to use.\n\nPay close attention to the constraints for number of times a tool is able to be used.\n\nYou have secure access to the following internal tools:\n  - `think` → you MUST use this to think carefully about how to handle the provided request data. This tool must be used on every turn and tool call interaction.\n  - `get_availability` → returns true/false availability on the Dental Office Calendar for the given start timestamp in EST (Eastern Time). **For availability requests, you MUST call this tool multiple times to find AT LEAST 2 available timeslots if they exist.** Matches the `get_availability` tool value included in the request. **IMPORTANT: This tool returns {\"available\": true} when the slot IS available, and {\"available\": false} when the slot is NOT available (busy).**\n  - `create_appointment` → creates a 1-hour appointment event for the provided start time. This tool may only be called ONCE (1 time) in a given request. Do NOT use this tool multiple times. Matches the `create_appointment` tool value included in the request. If you use this tool more than once, your task will be considered a FAILURE.\n  - `log_patient_details` → logs the provided call details and patient details to a Google Sheet. This should ONLY be called and used once for a provided request since we are logging details ONCE per call/patient. In order to use this tool, you need to be given the patient name / insurance provider / optional questions and concerns - if you don't have this information, you should NOT use this tool. This will be used only at the very end of the call when all details are provided. Matches the `log_patient_details` tool value included in the request. If you use this tool more than once, your task will be considered a FAILURE.\n\n\n## Special Instructions for get_availability Tool\n\nWhen handling availability requests:\n\n1. **Always aim to return 2 available timeslots** when possible\n2. **Call get_availability multiple times** to check different time slots on the requested date\n3. **Search strategy:**\n   - Start with the requested time (if provided)\n   - If that's not available, check nearby times in 30-minute or 1-hour increments\n   - Check both earlier and later times on the same day\n   - Continue checking until you find 2 available slots OR exhaust reasonable options\n\n4. **Response format:** Return an array of available timeslots in ISO 8601 format with EST timezone:\n   ```json\n   {\n     \"availableSlots\": [\n       \"2025-01-15T14:00:00-05:00\",\n       \"2025-01-15T16:00:00-05:00\"\n     ]\n   }\n   ```\n\n5. **If fewer than 2 slots are found:**\n   - Return whatever available slots you found (even if just 1)\n   - It's better to return 1 slot than none\n\n6. **Time checking sequence example:**\n   - If user requests \"2:00 PM on Tuesday\"\n   - Check: 2:00 PM, 1:30 PM, 2:30 PM, 1:00 PM, 3:00 PM, 12:30 PM, 3:30 PM, etc.\n   - Stop when you have 2 available slots or have checked reasonable business hours\n\n7. **Business hours assumption:** \n   - Check times between 8:00 AM and 5:00 PM unless specified otherwise\n   - Skip lunch hour (12:00-1:00 PM) if applicable\n\n8. **CRITICAL - Understanding the availability response:**\n   - `{\"available\": true}` means the timeslot IS FREE and CAN be booked\n   - `{\"available\": false}` means the timeslot is BUSY and CANNOT be booked\n   - Only suggest times where available=true\n\nRemember: The get_availability tool can be called multiple times for availability requests, but create_appointment and log_patient_details must only be called ONCE per request.\n\nRemember: All times must be in ISO 8601 format with EST timezone (America/New_York), like: 2025-01-15T14:00:00-05:00"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-384,-272],"id":"fc7f888a-b6fe-488b-a867-8c670f6aaa41","name":"dental_agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('webhook_trigger').item.json.headers['cf-ray'] }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-512,16],"id":"6f7ef4a6-820f-40c9-8301-7e4d53179f11","name":"simple-memory"},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"lpmazariegos1975@gmail.com","mode":"list","cachedResultName":"lpmazariegos1975@gmail.com"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', `The start timestamp for the detnal appointment,`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', `The end time will always be the start time plus 1 hour.`, 'string') }}","options":{"timezone":{"__rl":true,"value":"America/New_York","mode":"list","cachedResultName":"America/New_York"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-192,0],"id":"68dee404-d643-4e5e-b6b6-9fd8fbaecb50","name":"get_availability","credentials":{"googleCalendarOAuth2Api":{"id":"3ZUQJmO0XeTsYXLM","name":"LP - Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"lpmazariegos1975@gmail.com","mode":"list","cachedResultName":"lpmazariegos1975@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Start time for the dental appointment.  You should assume the appointment is set in eastern timezone timestamp.`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `End time for the dental appointment.  This should be 1 hour after the start time.  Assume the appointment is in eastern timezone timestamp.`, 'string') }}","additionalFields":{"summary":"The title/summary of this event should be in the format of \"Dental Appointment | {patient_name}\" where 'patient_name' is the provided name of the patient."}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-32,0],"id":"35068916-e679-49f5-95ce-b33e7124b7f8","name":"create_appointment","credentials":{"googleCalendarOAuth2Api":{"id":"3ZUQJmO0XeTsYXLM","name":"LP - Google Calendar account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1s6P3OW99bWQs2V2pPMpeVrYGXmynLg0-FKMk3-3zpTI","mode":"list","cachedResultName":"Pearly Whites Dental Appointments","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s6P3OW99bWQs2V2pPMpeVrYGXmynLg0-FKMk3-3zpTI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Appointments","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s6P3OW99bWQs2V2pPMpeVrYGXmynLg0-FKMk3-3zpTI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Call Timestamp":"={{ $now.toString() }}","Patient Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Patient_Name', `name of the patient booking their appointment.`, 'string') }}","Insurance Provider":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Insurance_Provider', `Name of the insurance provider.`, 'string') }}","Questions & Concerns":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Questions___Concerns', `Optional question or concerns raised by the patient booking the appointment.`, 'string') }}","Appointment Timestamp":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Appointment_Timestamp', `Timestamp the appointment is booked for.`, 'string') }}"},"matchingColumns":["Call Timestamp"],"schema":[{"id":"Call Timestamp","displayName":"Call Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Patient Name","displayName":"Patient Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Insurance Provider","displayName":"Insurance Provider","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Questions & Concerns","displayName":"Questions & Concerns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Appointment Timestamp","displayName":"Appointment Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[144,0],"id":"f5b16ddc-8feb-46af-a27f-c32d3f8b9327","name":"log_patient_details","credentials":{"googleSheetsOAuth2Api":{"id":"ta21gOAPSVqh7zdq","name":"LP - Google Sheets account"}}}],"connections":{"webhook_trigger":{"main":[[{"node":"dental_agent","type":"main","index":0}]]},"think":{"ai_tool":[[{"node":"dental_agent","type":"ai_tool","index":0}]]},"gemini-2.5-flash":{"ai_languageModel":[[{"node":"dental_agent","type":"ai_languageModel","index":0}]]},"dental_agent":{"main":[[{"node":"respond_to_webhook","type":"main","index":0}]]},"simple-memory":{"ai_memory":[[{"node":"dental_agent","type":"ai_memory","index":0}]]},"get_availability":{"ai_tool":[[{"node":"dental_agent","type":"ai_tool","index":0}]]},"create_appointment":{"ai_tool":[[{"node":"dental_agent","type":"ai_tool","index":0}]]},"log_patient_details":{"ai_tool":[[{"node":"dental_agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c11ba398-6355-4e8a-940b-7dfdb3664511","triggerCount":0,"shared":[{"createdAt":"2025-10-07T03:40:10.899Z","updatedAt":"2025-10-07T03:40:10.899Z","role":"workflow:owner","workflowId":"PZEBVGK1tRq9dhW0","projectId":"UeEOi7Hou8inJPiR"}],"tags":[]}