error-logger-GaxsRRJgFC11zr4h.json
{"createdAt":"2025-09-14T23:18:42.324Z","updatedAt":"2025-09-15T20:19:50.000Z","id":"GaxsRRJgFC11zr4h","name":"Error Logger","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-624,-48],"id":"10230ccf-f9f9-4b7c-a9cb-82a371abc19c","name":"Error Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1oTkJ_q2Q_d1xMFNOYNFvWHeRVuqDjo8MzIBjr_ZHa_I","mode":"list","cachedResultName":"Error Logger","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oTkJ_q2Q_d1xMFNOYNFvWHeRVuqDjo8MzIBjr_ZHa_I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oTkJ_q2Q_d1xMFNOYNFvWHeRVuqDjo8MzIBjr_ZHa_I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.format('yyyy-MM-dd hh:mma') }}","Workflow":"={{ $json.workflow.name }}","URL":"={{ $json.execution.url }}","Node":"={{ $json.execution.error.node.name }}","Error Message":"={{ $json.execution.error.message }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Node","displayName":"Node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-224,-192],"id":"3f8073d0-f9ef-4ca6-8207-d26020b3419f","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"YEsWezEtNkrbQPkC","name":"MZSN Google Sheets account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"=all-mzsn-automation","mode":"name"},"text":"=There was an error in the workflow: {{ $json.workflow.name }} at {{ $now.format('yyyy-MM-dd hh:mma') }}\n\nThe error was in the node: {{ $json.execution.error.node.name }}\n\nWith the error message: {{ $json.execution.error.message }}\n\nGo to workflow: {{ $json.execution.url }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-224,48],"id":"d844cfdd-5401-4f61-ace9-ee20e0dca9fb","name":"Slack","webhookId":"9f06323c-f851-4a54-935a-aea1b8f72808","credentials":{"slackApi":{"id":"ndwAEKPd9iU1WY4v","name":"Slack account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"7148","url":"https://duncanrogoff.app.n8n.cloud/workflow/Gp01bEJMMHfzsH8t/executions/7148","error":{"level":"warning","tags":{},"context":{},"functionality":"regular","name":"NodeOperationError","timestamp":1751849442941,"node":{"parameters":{"notice":"","promptType":"define","text":"=tell me a joke about: {{ $json.message.text }}","hasOutputParser":false,"messages":{},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[220,0],"id":"d31e8a0c-800c-4ffc-9dc2-a11180abc119","name":"The Joker"},"messages":[],"message":"A Model sub-node must be connected and enabled","stack":"NodeOperationError: A Model sub-node must be connected and enabled\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts:115:10)\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:160:39)\n    at processItem (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_f35e7d377a7fe4d08dc2766706b5dbff/node_modules/@n8n/n8n-nodes-langchain/nodes/chains/ChainLLM/methods/processItem.ts:11:25)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_f35e7d377a7fe4d08dc2766706b5dbff/node_modules/@n8n/n8n-nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts:80:19\n    at Array.map (<anonymous>)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_f35e7d377a7fe4d08dc2766706b5dbff/node_modules/@n8n/n8n-nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts:79:33)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1185:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1534:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2098:11"},"lastNodeExecuted":"The Joker","mode":"webhook"},"workflow":{"id":"Gp01bEJMMHfzsH8t","name":"Dino Jokes"}}}]},"versionId":"aebeaf80-bf8f-456d-b349-7dbfff4aba7b","triggerCount":0,"shared":[{"createdAt":"2025-09-14T23:18:42.327Z","updatedAt":"2025-09-14T23:18:42.327Z","role":"workflow:owner","workflowId":"GaxsRRJgFC11zr4h","projectId":"UeEOi7Hou8inJPiR"}],"tags":[]}