github-backup---enhanced-aXxdlHaNBSXcvm1k.json
{"createdAt":"2025-10-09T05:07:22.513Z","updatedAt":"2025-10-09T05:40:25.000Z","id":"aXxdlHaNBSXcvm1k","name":"Github Backup - Enhanced","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"2a923291-f95c-4a22-b2d1-10b7daffbbe0","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3856,272]},{"parameters":{"options":{}},"id":"966dcd20-799d-4458-8819-73cb44b363ce","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3664,272]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"dbaab1fc-96f4-44a8-a492-78d7b985c88b","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3456,272]},{"parameters":{"assignments":{"assignments":[{"id":"commit-date","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"id":"ce2fc7a1-f109-42ef-91ff-804957bb7d1b","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3264,272]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"mode":"list","value":"mzsnetworks"},"repository":{"__rl":true,"value":"n8n-dev-server","mode":"list","cachedResultName":"n8n-dev-server","cachedResultUrl":"https://github.com/mzsnetworks/n8n-dev-server"}},"id":"23acf63a-5de8-422d-93d0-e8873484177c","name":"List all files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-3040,272],"alwaysOutputData":true,"webhookId":"70314419-a8da-49cc-b01b-2ef3f6e1dc52","credentials":{"githubOAuth2Api":{"id":"f0FpOvHXs2S4dKwP","name":"GitHub account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"eea47972-3fb9-466a-8573-c2d44eeb3d13","name":"Aggregate file names","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2816,272]},{"parameters":{"url":"http://localhost:5678/api/v1/credentials","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{}},"id":"f435a0f0-a32b-49d6-849c-27f8a3b23dbe","name":"Retrieve credentials [N8N API]","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2608,448],"credentials":{"n8nApi":{"id":"LngHfEdsd3JMM2qh","name":"n8n-api"}},"notes":"Change URL to match your n8n instance. Example: https://your-instance.n8n.cloud/api/v1/credentials"},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"a04bc498-b182-49ee-be48-6a15fe66bb77","name":"Split credentials array","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2384,448]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ 'credentials/' + $json.name.replace(/\\s+/g, '-').toLowerCase() + '-' + $json.id + '.json' }}"}},"id":"fac535ad-6a3d-4f48-9222-d7eea4325a14","name":"Convert credentials to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1.1,"position":[-2160,448]},{"parameters":{"options":{}},"id":"b6e8cde7-24dd-4d32-a9a5-e2c07f2357d7","name":"Split credentials to batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1936,448]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Aggregate file names'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]},"options":{}},"id":"98aca8c8-0980-45ea-b673-80a142a0272d","name":"Check if credential file exists","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1696,448]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"mzsnetworks","mode":"list"},"repository":{"__rl":true,"value":"n8n-dev-server","mode":"list"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ 'backup-credentials-' + $node['Set commit date'].json.commitDate }}"},"id":"b2d6d2da-d05f-42f8-984a-91f630e9d785","name":"Update credential file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1456,352],"webhookId":"2d9f6bb8-9874-46cc-91de-d040fb7597a0","credentials":{"githubOAuth2Api":{"id":"f0FpOvHXs2S4dKwP","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"mzsnetworks","mode":"list"},"repository":{"__rl":true,"value":"n8n-dev-server","mode":"list"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ 'backup-credentials-' + $node['Set commit date'].json.commitDate }}"},"id":"e685904f-3c0c-4031-b691-965496340bb2","name":"Upload new credential file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1456,544],"webhookId":"ce2ec40b-057f-4ce6-a98f-5bd3734e9e49","credentials":{"githubOAuth2Api":{"id":"f0FpOvHXs2S4dKwP","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"id":"1a74ff3a-0aa3-468e-a58d-fd01f536ceff","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2608,80],"credentials":{"n8nApi":{"id":"LngHfEdsd3JMM2qh","name":"n8n-api"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ 'workflows/' + $json.name.replace(/\\s+/g, '-').toLowerCase() + '-' + $json.id + '.json' }}"}},"id":"37fc2e7e-50dd-4de0-87b7-bd5443a434a4","name":"Convert workflows to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1.1,"position":[-2384,80]},{"parameters":{"options":{}},"id":"69ee9879-6fa1-48a3-badc-3e8c25c8da38","name":"Split workflows to batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2160,80]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Aggregate file names'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]},"options":{}},"id":"cb61ffd6-6191-4645-8baa-50ace53516c4","name":"Check if workflow file exists","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1872,0]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"mzsnetworks","mode":"list"},"repository":{"__rl":true,"value":"n8n-dev-server","mode":"list"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ 'backup-workflows-' + $node['Set commit date'].json.commitDate }}"},"id":"fba70b08-cd8c-4ccf-9951-d8d39e26549d","name":"Update workflow file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1680,-16],"webhookId":"743fefd1-43c1-4230-b6a9-4360145afdd7","credentials":{"githubOAuth2Api":{"id":"f0FpOvHXs2S4dKwP","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"mzsnetworks","mode":"list"},"repository":{"__rl":true,"value":"n8n-dev-server","mode":"list"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ 'backup-workflows-' + $node['Set commit date'].json.commitDate }}"},"id":"e1ca6abf-14e2-459c-853c-2cbd5a6d83dc","name":"Upload new workflow file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1680,192],"webhookId":"1dff6bf1-f75d-401f-910a-ada44c7284b8","credentials":{"githubOAuth2Api":{"id":"f0FpOvHXs2S4dKwP","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List all files from repository [GITHUB]","type":"main","index":0}]]},"List all files from repository [GITHUB]":{"main":[[{"node":"Aggregate file names","type":"main","index":0}]]},"Aggregate file names":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0},{"node":"Retrieve credentials [N8N API]","type":"main","index":0}]]},"Retrieve credentials [N8N API]":{"main":[[{"node":"Split credentials array","type":"main","index":0}]]},"Split credentials array":{"main":[[{"node":"Convert credentials to binary","type":"main","index":0}]]},"Convert credentials to binary":{"main":[[{"node":"Split credentials to batches","type":"main","index":0}]]},"Split credentials to batches":{"main":[[{"node":"Check if credential file exists","type":"main","index":0}]]},"Check if credential file exists":{"main":[[{"node":"Update credential file [GITHUB]","type":"main","index":0}],[{"node":"Upload new credential file [GITHUB]","type":"main","index":0}]]},"Update credential file [GITHUB]":{"main":[[{"node":"Split credentials to batches","type":"main","index":0}]]},"Upload new credential file [GITHUB]":{"main":[[{"node":"Split credentials to batches","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Convert workflows to binary","type":"main","index":0}]]},"Convert workflows to binary":{"main":[[{"node":"Split workflows to batches","type":"main","index":0}]]},"Split workflows to batches":{"main":[[],[{"node":"Check if workflow file exists","type":"main","index":0}]]},"Check if workflow file exists":{"main":[[{"node":"Update workflow file [GITHUB]","type":"main","index":0}],[{"node":"Upload new workflow file [GITHUB]","type":"main","index":0}]]},"Update workflow file [GITHUB]":{"main":[[{"node":"Split workflows to batches","type":"main","index":0}]]},"Upload new workflow file [GITHUB]":{"main":[[{"node":"Split workflows to batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fbd9052e-5fef-4115-bbed-a20462df59a8","triggerCount":0,"shared":[{"createdAt":"2025-10-09T05:07:22.516Z","updatedAt":"2025-10-09T05:07:22.516Z","role":"workflow:owner","workflowId":"aXxdlHaNBSXcvm1k","projectId":"UeEOi7Hou8inJPiR"}],"tags":[]}