ia-marketing-agent-n8FoJ46HmHM18CtR.json
{"createdAt":"2025-09-07T04:39:20.201Z","updatedAt":"2025-09-11T21:53:44.000Z","id":"n8FoJ46HmHM18CtR","name":"IA Marketing Agent","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[816,192],"id":"c71a866f-1308-4e24-8009-769a00baeb1b","name":"no_operation"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=marketing-agent-{{ $now.format('yyyy-MM-dd') }}-1","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-288,640],"id":"157edc1a-057d-456d-8082-6a16641f245c","name":"memory"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-416,640],"id":"86711ad9-89de-425a-8a8b-091a2b0ddaa1","name":"gemini-2.5-pro","credentials":{"googlePalmApi":{"id":"bihMSVCE7BMW5KAd","name":"LP - Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-160,640],"id":"9af127eb-947a-4c8a-b4b0-8bb73a8ecba0","name":"think"},{"parameters":{"content":"## Shared","height":272,"width":448},"type":"n8n-nodes-base.stickyNote","position":[-464,528],"typeVersion":1,"id":"23698f97-c275-4f6e-9f99-aaa8fd58afac","name":"Sticky Note"},{"parameters":{"content":"## Content Creation\n","height":272,"width":912,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,528],"typeVersion":1,"id":"9d33394d-6af2-487b-b009-461f8974f221","name":"Sticky Note1"},{"parameters":{"content":"## Content Research","height":272,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","position":[928,528],"typeVersion":1,"id":"be02ee30-6b6e-4725-8971-625a17d7e629","name":"Sticky Note2"},{"parameters":{"description":"This tool writes and generates a newsletter for the provided date.","workflowId":{"__rl":true,"value":"AQcxkHANntUPrEBm","mode":"list","cachedResultName":"The Recap AI — Content - Newsletter Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', `The date to write the newsletter for.`, 'string') }}","Previous Newsletter Content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Previous_Newsletter_Content', `The (optional) content of the newsletter from the previous day (if provided). If no content is provided, default to the value \"N/A\".`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Previous Newsletter Content","displayName":"Previous Newsletter Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[64,640],"id":"e813f494-9f7a-42c6-bde7-58a8c485e837","name":"write_newsletter"},{"parameters":{"httpMethod":"POST","path":"c5edb92a-61f8-4b3d-91c6-cec0be46d052","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,192],"id":"77c3ab05-e993-4c10-9871-b6d3938c214c","name":"webhook_trigger","webhookId":"c5edb92a-61f8-4b3d-91c6-cec0be46d052"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"cd0ec131-cd2d-42a9-b4b3-6252b372aceb","name":"When chat message received","webhookId":"e0dae8c3-6762-4769-8b45-5a9961f4512c"},{"parameters":{"description":"This tool will generate an image from the provided context or text content.","workflowId":{"__rl":true,"value":"Bjh2btzF5NhFcLDk","mode":"list","cachedResultName":"YouTube — Tool - Generate Image"},"workflowInputs":{"mappingMode":"defineBelow","value":{"imageTitle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', `Title for the image to be generated. This should be only a few words (less than 5).`, 'string') }}","imageContext":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageContext', `Prompt of text content of what this image should be about. Depending on the use-case, this can be a direct description of what image should be generate OR it could be the text content that and image needs to be created for.\n\nBe sure to include the context of what this is for if that is provided.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imageContext","displayName":"imageContext","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"imageTitle","displayName":"imageTitle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[224,640],"id":"d9262267-9481-4433-ab85-6388a5dc659b","name":"generate_image"},{"parameters":{"description":"Repurposes the content of a newsletter into a Twitter thread.","workflowId":{"__rl":true,"value":"W5uPEz8LKmUdVck4","mode":"list","cachedResultName":"YouTube — Tool - Repurpose Newsletter Into Twitter Daily News Thread"},"workflowInputs":{"mappingMode":"defineBelow","value":{"newsletterContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('newsletterContent', `The full newsletter content to be repurposed into a Twitter thread. This should be resolved / loaded from  memory.`, 'string') }}"},"matchingColumns":["newsletterContent"],"schema":[{"id":"newsletterContent","displayName":"newsletterContent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[400,640],"id":"bc42f0a9-bb53-4653-8108-6b05255835b4","name":"repurpose_to_twitter_thread"},{"parameters":{"description":"This tool will write short form video scripts based on the best AI News stories for the day.","workflowId":{"__rl":true,"value":"eFvYD9tEIRChYa1j","mode":"list","cachedResultName":"The Recap AI — Content - Short Form News Script Generator"},"workflowInputs":{"mappingMode":"defineBelow","value":{"date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `The date that was requested to generate a short form video script for. If no date is provided, default to today's date.`, 'string') }}"},"matchingColumns":["date"],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[576,640],"id":"95e9f45d-e8a6-4d74-ab5b-50bf9eb72e4b","name":"repurpose_to_short_form_script"},{"parameters":{"model":"sonar-reasoning","messages":{"message":[{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', `Write a detailed prompt that will be send to Perplexity AI's Sonar Deep Research model that will search the internet and prepare a detailed report on the desired topic.\n\nPay close attention to what the user wants to be included in this report.\n\nThe topic to research and build the prompt around is provided by the user. This will likely be around AI topics.\n\nThe output of this deep research report MUST AVOID using a markdown table in the results.`, 'string') }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[1008,640],"id":"7b40fda5-c9e6-4ab0-87a3-c1f9edd995ec","name":"deep_research_topic"},{"parameters":{"description":"Sends the deep research report results from the `deep_research_topic` over email.","workflowId":{"__rl":true,"value":"6GoQu7XHmMiep2kV","mode":"list","cachedResultName":"YouTube — Tool - Email Research Report"},"workflowInputs":{"mappingMode":"defineBelow","value":{"markdownReportContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('markdownReportContent', `The markdown content of the deep research report that was already created. This depends on the \\`deep_research_topic\\` tool being completed.\n\nThis MUST be ONLY the markdown content of the report and not any other properties from the deep research response.`, 'string') }}","emailAddress":"david@dlmholdings.com","subjectLine":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subjectLine', `A few words around the topic of the deep research report that will go in the subject line of the email.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"markdownReportContent","displayName":"markdownReportContent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"emailAddress","displayName":"emailAddress","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1200,640],"id":"0f01c158-8a12-4d5b-b792-4c2a76d8f34f","name":"email_research_report"},{"parameters":{"description":"Call this tool to generate a talking head / avatar video with the script of the best news story of the day. This tool depends on the `repurpose_to_short_form_script` running first.","workflowId":{"__rl":true,"value":"cAoqlw91ctlvdqO8","mode":"list","cachedResultName":"YouTube — Tool - Generate Talking Avatar"},"workflowInputs":{"mappingMode":"defineBelow","value":{"script":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('script', `The text script for a single story we want to generate a talking avatar video for.`, 'string') }}"},"matchingColumns":["script"],"schema":[{"id":"script","displayName":"script","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[752,640],"id":"a5f84e5e-9b80-4f26-abc6-2e7cbb5c8bcb","name":"generate_talking_avatar_video"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput ?? $json.body.user_message_request }}","options":{"systemMessage":"=# 1. Core Identity\nYou are the **Marketing Team AI Assistant** for The Recap AI, a specialized agent designed to seamlessly integrate into the daily workflow of marketing team members. You serve as an intelligent collaborator, enhancing productivity and strategic thinking across all marketing functions.\n\n# 2. Primary Purpose\nYour mission is to **empower marketing team members to execute their daily work more efficiently and effectively**\n\n# 3. Core Capabilities & Skills\n\n## Primary Competencies\nYou excel at **content creation and strategic repurposing**, transforming single pieces of content into multi-channel marketing assets that maximize reach and engagement across different platforms and audiences.\n\n## Content Creation & Strategy\n- **Original Content Development**: Generate high-quality marketing content from scratch including newsletters, social media posts, video scripts, and research reports\n- **Content Repurposing Mastery**: Transform existing content into multiple formats optimized for different channels and audiences\n- **Brand Voice Consistency**: Ensure all content maintains The Recap AI's distinctive brand voice and messaging across all touchpoints\n- **Multi-Format Adaptation**: Convert long-form content into bite-sized, platform-specific assets while preserving core value and messaging\n\n## Specialized Tool Arsenal\nYou have access to precision tools designed for specific marketing tasks:\n\n### Strategic Planning\n- **`think`**: Your strategic planning engine - use this to develop comprehensive, step-by-step execution plans for any assigned task, ensuring optimal approach and resource allocation\n\n### Content Generation\n- **`write_newsletter`**: Creates The Recap AI's daily newsletter content by processing date inputs and generating engaging, informative newsletters aligned with company standards\n- **`create_image`**: Generates custom images and illustrations that perfectly match The Recap AI's brand guidelines and visual identity standards\n- **`generate_talking_avatar_video`**: Generates a video of a talking avator that narrates the script for today's top AI news story. This depends on `repurpose_to_short_form_script` running already so we can extract that script and pass into this tool call.\n\n### Content Repurposing Suite\n- **`repurpose_newsletter_to_twitter`**: Transforms newsletter content into engaging Twitter threads, automatically accessing stored newsletter data to maintain context and messaging consistency\n- **`repurpose_to_short_form_script`**: Converts content into compelling short-form video scripts optimized for platforms like TikTok, Instagram Reels, and YouTube Shorts\n\n### Research & Intelligence\n- **`deep_research_topic`**: Conducts comprehensive research on any given topic, producing detailed reports that inform content strategy and market positioning\n- **`email_research_report`**: Sends the deep research report results from `deep_research_topic` over email to our team. This depends on `deep_research_topic` running successfully. You should use this tool when the user requests wanting a report sent to them or \"in their inbox\".\n\n## Memory & Context Management\n- **Daily Work Memory**: Access to comprehensive records of all completed work from the current day, ensuring continuity and preventing duplicate efforts\n- **Context Preservation**: Maintains awareness of ongoing projects, campaign themes, and content calendars to ensure all outputs align with broader marketing initiatives\n- **Cross-Tool Integration**: Seamlessly connects insights and outputs between different tools to create cohesive, interconnected marketing campaigns\n\n## Operational Excellence\n- **Task Prioritization**: Automatically assess and prioritize multiple requests based on urgency, impact, and resource requirements\n- **Quality Assurance**: Built-in quality controls ensure all content meets The Recap AI's standards before delivery\n- **Efficiency Optimization**: Streamline complex multi-step processes into smooth, automated workflows that save time without compromising quality\n\n# 3. Context Preservation & Memory\n\n## Memory Architecture\nYou maintain comprehensive memory of all activities, decisions, and outputs throughout each working day, creating a persistent knowledge base that enhances efficiency and ensures continuity across all marketing operations.\n\n## Daily Work Memory System\n- **Complete Activity Log**: Every task completed, tool used, and decision made is automatically stored and remains accessible throughout the day\n- **Output Repository**: All generated content (newsletters, scripts, images, research reports, Twitter threads) is preserved with full context and metadata\n- **Decision Trail**: Strategic thinking processes, planning outcomes, and reasoning behind choices are maintained for reference and iteration\n- **Cross-Task Connections**: Links between related activities are preserved to maintain campaign coherence and strategic alignment\n\n## Memory Utilization Strategies\n\n### Content Continuity\n- **Reference Previous Work**: Always check memory before starting new tasks to avoid duplication and ensure consistency with earlier outputs\n- **Build Upon Existing Content**: Use previously created materials as foundation for new content, maintaining thematic consistency and leveraging established messaging\n- **Version Control**: Track iterations and refinements of content pieces to understand evolution and maintain quality improvements\n\n### Strategic Context Maintenance\n- **Campaign Awareness**: Maintain understanding of ongoing campaigns, their objectives, timelines, and performance metrics\n- **Brand Voice Evolution**: Track how messaging and tone have developed throughout the day to ensure consistent voice progression\n- **Audience Insights**: Preserve learnings about target audience responses and preferences discovered during the day's work\n\n## Information Retrieval Protocols\n- **Pre-Task Memory Check**: Always review relevant previous work before beginning any new assignment\n- **Context Integration**: Seamlessly weave insights and content from earlier tasks into new outputs\n- **Dependency Recognition**: Identify when new tasks depend on or relate to previously completed work\n\n## Memory-Driven Optimization\n- **Pattern Recognition**: Use accumulated daily experience to identify successful approaches and replicate effective strategies\n- **Error Prevention**: Reference previous challenges or mistakes to avoid repeating issues\n- **Efficiency Gains**: Leverage previously created templates, frameworks, or approaches to accelerate new task completion\n\n## Session Continuity Requirements\n- **Handoff Preparation**: Ensure all memory contents are structured to support seamless continuation if work resumes later\n- **Context Summarization**: Maintain high-level summaries of day's progress for quick orientation and planning\n- **Priority Tracking**: Preserve understanding of incomplete tasks, their urgency levels, and next steps required\n\n## Memory Integration with Tool Usage\n- **Tool Output Storage**: Results from `write_newsletter`, `create_image`, `deep_research_topic`, and other tools are automatically catalogued with context. You should use your memory to be able to load the result of today's newsletter for repurposing flows.\n- **Cross-Tool Reference**: Use outputs from one tool as informed inputs for others (e.g., newsletter content informing Twitter thread creation)\n- **Planning Memory**: Strategic plans created with the `think` tool are preserved and referenced to ensure execution alignment\n\n# 4. Environment\n\nToday's date is: `{{ $now.format('yyyy-MM-dd') }}`"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[336,192],"id":"f751f33e-082d-4ec4-81c1-4ba58f566025","name":"Marketing Agent"}],"connections":{"memory":{"ai_memory":[[{"node":"Marketing Agent","type":"ai_memory","index":0}]]},"gemini-2.5-pro":{"ai_languageModel":[[{"node":"Marketing Agent","type":"ai_languageModel","index":0}]]},"think":{"ai_tool":[[{"node":"Marketing Agent","type":"ai_tool","index":0}]]},"write_newsletter":{"ai_tool":[[{"node":"Marketing Agent","type":"ai_tool","index":0}]]},"webhook_trigger":{"main":[[{"node":"Marketing Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Marketing Agent","type":"main","index":0}]]},"generate_image":{"ai_tool":[[{"node":"Marketing Agent","type":"ai_tool","index":0}]]},"repurpose_to_twitter_thread":{"ai_tool":[[{"node":"Marketing Agent","type":"ai_tool","index":0}]]},"repurpose_to_short_form_script":{"ai_tool":[[{"node":"Marketing Agent","type":"ai_tool","index":0}]]},"deep_research_topic":{"ai_tool":[[{"node":"Marketing Agent","type":"ai_tool","index":0}]]},"email_research_report":{"ai_tool":[[{"node":"Marketing Agent","type":"ai_tool","index":0}]]},"generate_talking_avatar_video":{"ai_tool":[[{"node":"Marketing Agent","type":"ai_tool","index":0}]]},"Marketing Agent":{"main":[[{"node":"no_operation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"49127e7f-d41b-4ea9-aa40-f1b2024aa42c","triggerCount":0,"shared":[{"createdAt":"2025-09-07T04:39:20.203Z","updatedAt":"2025-09-07T04:39:20.203Z","role":"workflow:owner","workflowId":"n8FoJ46HmHM18CtR","projectId":"UeEOi7Hou8inJPiR"}],"tags":[{"createdAt":"2025-09-09T12:25:02.103Z","updatedAt":"2025-09-09T12:25:02.103Z","id":"ZvY80149EbSRGo2O","name":"Agent"}]}