invoice_agent_v1-4QU7ZgbGZdyexQAi.json
{"updatedAt":"2025-11-27T00:00:25.000Z","createdAt":"2025-11-27T00:00:25.803Z","id":"4QU7ZgbGZdyexQAi","name":"Invoice_Agent_v1","active":false,"isArchived":false,"nodes":[{"parameters":{"trigger":["app_mention"],"channelId":{"__rl":true,"value":"C09V67L1YR4","mode":"list","cachedResultName":"mzsn-invoices"},"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[0,0],"id":"4e94c966-3550-402f-ab33-cbb1e9b783a5","name":"Slack Trigger","webhookId":"0043e9b3-539c-4aa4-8991-c8d5d38a8b4e"},{"parameters":{"promptType":"define","text":"={{ $json.blocks[0].elements[0].elements[1].text }}","options":{"systemMessage":"=You are an AI agent for invoice processing only.\n\nYour job: decide whether to act or do nothing. Be extremely conservative.\n\nYou may act ONLY IF the message contains clear, direct intent to:\n- “Update or change an invoice status”\n- “Request an invoice’s status or it's pdf_url”\n\nThe ONLY valid invoice statuses are: Submitted, Approved, Past Due, Paid, Void.\n\nWhen an invoice status change is requested, you MUST use the tool Agent_Tool with the following JSON arguments:\n{\"action\": \"Update\" or \"Change\", \"invoice_number\": \"<value>\", \"status\": \"Submitted\" | \"Approved\" | \"Past Due\" | \"Paid\" | \"Void\"}\n\nWhen an invoice status is requested, you MUST use the tool Agent_Tool with the following JSON arguments:\n{\"action\": \"Request\", \"invoice_number\": \"<value>\", \"status\": \"\"}\n\nWhen an invoice pdf is requested, you MUST use the tool Agent_Tool with the following JSON arguments:\n{\"action\": \"Url\", \"invoice_number\": \"<value>\", \"status\": \"\"}\n\nYou MUST NOT respond to the user directly. You MUST NOT return text or JSON as an answer.\n\nYour only allowed action is:\n- “Call Agent_Tool with the correct arguments; or”\n- “Do nothing if the request is invalid or ambiguous”.\n\nDO NOT act if the message includes:\n- “Personal or casual conversation”\n- “Spam or promotional content”\n- “Technical support or troubleshooting”\n- “Billing disputes or complaints”\n- “Missing or ambiguous invoice number for invoice actions”\n- “Unclear or indirect intent”\n\nProcessing rules:\n1. “Analyze the message.”\n2. “If a valid invoice status change is requested → call Agent_Tool with the JSON arguments.”\n3. “Otherwise → do nothing.”\n4. “If uncertain at any point → do nothing.”\n5. “If you output JSON directly instead of calling Agent_Tool, you have failed your task.”\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[224,0],"id":"f9502f12-63e3-47a8-971a-b6eedc92958b","name":"AI Agent"},{"parameters":{"workflowId":{"__rl":true,"value":"XL7IL8kYx9jXA2f4","mode":"list","cachedResultUrl":"/workflow/XL7IL8kYx9jXA2f4","cachedResultName":"Invoice_Agent_Tool"},"workflowInputs":{"mappingMode":"defineBelow","value":{"w_action":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('w_action', ``, 'string') }}","w_invoice_number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('w_invoice_number', ``, 'string') }}","w_status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('w_status', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"w_action","displayName":"w_action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"w_invoice_number","displayName":"w_invoice_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"w_status","displayName":"w_status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[368,288],"id":"d7829417-c322-454b-a5bf-bdf0b70ddd63","name":"Agent_Tool"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[224,288],"id":"f19138df-726c-4860-b76e-f98765c68764","name":"OpenAI Chat Model"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[560,0],"id":"bd6caaa4-3d35-4b0f-ae4d-7528cfa52dbc","name":"No Operation, do nothing"}],"connections":{"Slack Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Agent_Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"49c50650-e7ee-43e4-a85e-08d093255d15","triggerCount":0,"shared":[{"updatedAt":"2025-11-27T00:00:25.807Z","createdAt":"2025-11-27T00:00:25.807Z","role":"workflow:owner","workflowId":"4QU7ZgbGZdyexQAi","projectId":"UeEOi7Hou8inJPiR"}],"tags":[{"updatedAt":"2025-09-09T12:25:02.103Z","createdAt":"2025-09-09T12:25:02.103Z","id":"ZvY80149EbSRGo2O","name":"Agent"}]}