mzs-email-ai-agent-v4-Tu5G3aSxYtie6CrW.json
{"createdAt":"2025-09-14T18:53:28.773Z","updatedAt":"2025-09-16T01:43:02.000Z","id":"Tu5G3aSxYtie6CrW","name":"MZS EMAIL AI Agent v4","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-1392,-64],"id":"72880553-b440-4f28-96f1-6d5b16acfe83","name":"email_received_trigger","credentials":{"gmailOAuth2":{"id":"uQqj4N21at1RxpWD","name":"MZSN Gmail account"}}},{"parameters":{"promptType":"define","text":"=Email Message Id: `{{ $json.id }}`\nEmail Thread Id: `{{ $json.threadId }}`\nSender / From: `{{ $json.From }}`\nSubject: `{{ $json.Subject }}`\nTimestamp: `{{ $now.toISO() }}`\nMessage: `{{ $json.snippet }}`","options":{"systemMessage":"You are an email assistant for a network engineering company. Analyze emails and decide if they need responses.\n\nRESPOND IF email asks about:\n- Services (network automation, optimization, consulting)\n- Pricing or quotes\n- Contact info or business hours\n- Service areas\n\nDO NOT RESPOND IF:\n- Personal conversations\n- Spam/promotional\n- Technical support requests\n- Billing disputes\n\nProcess:\n1. Analyze email type and make decision directly\n2. If responding: call get_knowledge_base_cached to get company info.\n3. Format the response by ALWAYS calling format_html_message before sending.\n4. Then call send_email with the formatted HTML output.\n5. ALWAYS call mark_email_read and provide the MessageID parameter with the exact Email Message Id after processing any email.\n6. Log all actions.\n\nBe conservative - only respond when you have clear, accurate info from knowledge base."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-688,-80],"id":"50d2878f-cf6a-40ac-bbff-8d04e81adf23","name":"gmail_agent"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-208,-80],"id":"58295ab5-01df-44c5-8732-65d200d6429d","name":"no_op"},{"parameters":{"operation":"reply","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `The email message ID that the customer originally sent in. `, 'string') }}","message":"=<div style=\"font-family: Arial, sans-serif; line-height: 1.5;\">{{ $fromAI('format_html_message') }}</div>","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-272,208],"id":"d03ef955-aaf1-43eb-9a25-1e8fbc883650","name":"send_email","webhookId":"548c6a80-2ef5-48ed-ac23-5802f106ac70","credentials":{"gmailOAuth2":{"id":"uQqj4N21at1RxpWD","name":"MZSN Gmail account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1zZBDmgIC-3pO7U7e2PB4wPFvuVRFpQLvu1GgIgtg4dU/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"=Log","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timestamp', `When the email was received`, 'string') }}","Sender":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', `Email address of the sender`, 'string') }}","Subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Original email subject line`, 'string') }}","Message Preview":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Preview', `First 100 characters of the original message`, 'string') }}","Decision":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Decision', `\"RESPOND\" or \"NO_RESPONSE\"`, 'string') }}","Action Taken":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Action_Taken', `\"REPLIED\" or \"NO_OP\"`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender","displayName":"Sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message Preview","displayName":"Message Preview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Decision","displayName":"Decision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Action Taken","displayName":"Action Taken","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-128,208],"id":"fd13bfe7-7dae-407c-a27a-fe67ecc090cc","name":"log_message","credentials":{"googleSheetsOAuth2Api":{"id":"YEsWezEtNkrbQPkC","name":"MZSN Google Sheets account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1008,208],"id":"4baa3a1f-3e84-454e-9090-79b604d9751d","name":"gemini-2.5-flash-agent","credentials":{"googlePalmApi":{"id":"tv5zC1S3vfzL9v7q","name":"MZSN Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"get","documentURL":"1YJDJI32blVDTnNZZoQbZ3e6uo7KXintCd8WI3LHlLck"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-672,208],"id":"c937c5ec-9569-4e14-a013-671b83c06a2f","name":"get_knowledge_base_cached","credentials":{"googleDocsOAuth2Api":{"id":"tbCTqogo4I0RSuw2","name":"MZSN Google Docs account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.threadId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-848,208],"id":"24096299-346a-47ef-bee5-d82186bfe828","name":"Simple Memory"},{"parameters":{"jsCode":"// In Agent Tool mode, n8n passes the input text as `query`\nconst text = query || \"\";\n\n// Format into HTML\nlet html = text\n  .replace(/\\n\\n/g, '</p><p>')            // paragraph breaks\n  .replace(/\\n/g, '<br/>')                // single newlines\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')  // bold\n\n// Bullets: lines that start with \"* \"\nhtml = html.replace(/<br\\/>\\*\\s+/g, '<br/><li>');\nhtml = html.replace(/<\\/p><p>\\*\\s+/g, '</p><ul><li>');\n\n// Close <ul> if opened\nif (html.includes('<ul>') && !html.includes('</ul>')) {\n  html += '</ul>';\n}\n\n// Ensure it's wrapped in <p>…</p>\nif (!html.trim().startsWith('<')) {\n  html = `<p>${html}</p>`;\n}\n\n// Agent tools must return a plain string\nreturn html;"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[-416,208],"id":"05794d78-3f1a-4a64-b4b0-81ee54bdff42","name":"format_html_message"},{"parameters":{"jsCode":"// Log pre-filtered emails\nconst emailData = $input.first().json;\n\nreturn {\n  json: {\n    Timestamp: new Date().toISOString(),\n    Sender: emailData.From || 'Unknown',\n    Subject: emailData.Subject || 'Unknown',\n    'Message Preview': (emailData.snippet || '').substring(0, 100),\n    Decision: 'PRE_FILTERED',\n    'Action Taken': 'NO_OP - Pre-filtered out'\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,-240],"id":"54ef9121-8ad2-47cd-ac63-7505f7572163","name":"Log Pre-filtered"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1zZBDmgIC-3pO7U7e2PB4wPFvuVRFpQLvu1GgIgtg4dU/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"=Log","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $json.Timestamp }}","Sender":"={{ $json.Sender }}","Subject":"={{ $json.Subject }}","Message Preview":"={{ $json['Message Preview'] }}","Decision":"={{ $json.Decision }}","Action Taken":"={{ $json['Action Taken'] }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender","displayName":"Sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message Preview","displayName":"Message Preview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Decision","displayName":"Decision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Action Taken","displayName":"Action Taken","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-512,-240],"id":"b26570cb-49b0-452c-9ed5-71c09698bdc3","name":"Log Pre-filtered Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"YEsWezEtNkrbQPkC","name":"MZSN Google Sheets account"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-544,352],"id":"f4178352-cf23-48d5-b57e-49e2ca308094","name":"mark_email_read","webhookId":"a8d99d75-b577-48bf-b582-9ced6a55179b","credentials":{"gmailOAuth2":{"id":"uQqj4N21at1RxpWD","name":"MZSN Gmail account"}}},{"parameters":{"jsCode":"// Merge subject + snippet, normalize, strip invisibles, lowercase\nconst subject = String($json.Subject ?? \"\");\nconst snippet = String($json.snippet ?? \"\");\n\nlet text = `${subject} ${snippet}`\n  .normalize('NFKC')\n  // strip zero-width / soft hyphens / CGJ that show up in Gmail previews\n  .replace(/[\\u200B-\\u200D\\uFEFF\\u2060\\u00AD\\u034F]/g, '')\n  .toLowerCase();\n\n// keywords to match (word boundaries to avoid false positives)\nconst keywords = [\n  \"service\",\"services\",\"price\",\"cost\",\"quote\",\"automation\",\"network\",\n  \"help\",\"question\",\"inquiry\",\"business\",\"hours\",\"contact\",\"consulting\",\"support\"\n];\nconst pattern = new RegExp(`\\\\b(${keywords.join('|')})\\\\b`, 'i');\nconst should_process = pattern.test(text);\n\nreturn [{\n  json: {\n    ...$json,\n    prefilter_text: text,\n    should_process\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1184,-64],"id":"74c66646-48ba-4bfa-bf23-d1cfbac05150","name":"Analyze_Email"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d3a9292-2fa8-44f6-9f76-dc2f339f743a","leftValue":"={{ $json.should_process }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-976,-64],"id":"f825aa68-fbd1-4a78-bfd8-3656ee339454","name":"Pre-Filter Business Emails"}],"connections":{"email_received_trigger":{"main":[[{"node":"Analyze_Email","type":"main","index":0}]]},"gmail_agent":{"main":[[{"node":"no_op","type":"main","index":0}]]},"send_email":{"ai_tool":[[{"node":"gmail_agent","type":"ai_tool","index":0}]]},"log_message":{"ai_tool":[[{"node":"gmail_agent","type":"ai_tool","index":0}]]},"get_knowledge_base_cached":{"ai_tool":[[{"node":"gmail_agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"gmail_agent","type":"ai_memory","index":0}]]},"format_html_message":{"ai_tool":[[{"node":"gmail_agent","type":"ai_tool","index":0}]]},"Log Pre-filtered":{"main":[[{"node":"Log Pre-filtered Sheet","type":"main","index":0}]]},"gemini-2.5-flash-agent":{"ai_languageModel":[[{"node":"gmail_agent","type":"ai_languageModel","index":0}]]},"mark_email_read":{"ai_tool":[[{"node":"gmail_agent","type":"ai_tool","index":0}]]},"Analyze_Email":{"main":[[{"node":"Pre-Filter Business Emails","type":"main","index":0}]]},"Pre-Filter Business Emails":{"main":[[{"node":"gmail_agent","type":"main","index":0}],[{"node":"Log Pre-filtered","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69560e1e-b213-49d0-b6b2-9c7812192fa0","triggerCount":0,"shared":[{"createdAt":"2025-09-14T18:53:28.778Z","updatedAt":"2025-09-14T18:53:28.778Z","role":"workflow:owner","workflowId":"Tu5G3aSxYtie6CrW","projectId":"UeEOi7Hou8inJPiR"}],"tags":[{"createdAt":"2025-09-09T12:25:02.103Z","updatedAt":"2025-09-09T12:25:02.103Z","id":"ZvY80149EbSRGo2O","name":"Agent"},{"createdAt":"2025-09-13T00:36:34.903Z","updatedAt":"2025-09-13T00:36:34.903Z","id":"rsm4sJR5Kyh0nhJo","name":"Token Optimized"}]}