mzs-email-ai-agent-v3-nslsyZ6bIkXaGUh5.json
{"createdAt":"2025-09-12T23:36:16.861Z","updatedAt":"2025-09-14T18:38:59.000Z","id":"nslsyZ6bIkXaGUh5","name":"MZS EMAIL AI Agent v3","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-592,-160],"id":"0795defe-6eca-4b74-8f50-afb0d7b5d123","name":"email_received_trigger","credentials":{"gmailOAuth2":{"id":"uQqj4N21at1RxpWD","name":"MZSN Gmail account"}}},{"parameters":{"promptType":"define","text":"=Email Message Id: `{{ $json.id }}`\nEmail Thread Id: `{{ $json.threadId }}`\nSender / From: `{{ $json.From }}`\nSubject: `{{ $json.Subject }}`\nTimestamp: `{{ $now.toISO() }}`\nMessage: `{{ $json.snippet }}`","options":{"systemMessage":"You are an email assistant for a network engineering company. Analyze emails and decide if they need responses.\n\nRESPOND IF email asks about:\n- Services (network automation, optimization, consulting)\n- Pricing or quotes\n- Contact info or business hours\n- Service areas\n\nDO NOT RESPOND IF:\n- Personal conversations\n- Spam/promotional\n- Technical support requests\n- Billing disputes\n\nProcess:\n1. Analyze email type and make decision directly\n2. Get knowledge base if responding\n3. Send professional response using only knowledge base info\n4. Log all actions\n\nBe conservative - only respond when you have clear, accurate info from knowledge base."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-304,-160],"id":"ad3768e6-fff4-45d0-ba67-6f8213e46b2f","name":"gmail_agent"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[48,-160],"id":"5d6b5055-7d40-4e6b-b23a-74f668b39ca4","name":"no_op"},{"parameters":{"operation":"reply","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `The email message ID that the customer originally sent in. `, 'string') }}","message":"=<div style=\"font-family: Arial, sans-serif; line-height: 1.5;\">{{ $fromAI('format_html_message') }}</div>","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[112,112],"id":"dfc17dc6-1b88-4b98-b09e-78330d653251","name":"send_email","webhookId":"548c6a80-2ef5-48ed-ac23-5802f106ac70","credentials":{"gmailOAuth2":{"id":"uQqj4N21at1RxpWD","name":"MZSN Gmail account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1zZBDmgIC-3pO7U7e2PB4wPFvuVRFpQLvu1GgIgtg4dU/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"=Log","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timestamp', `When the email was received`, 'string') }}","Sender":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', `Email address of the sender`, 'string') }}","Subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Original email subject line`, 'string') }}","Message Preview":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Preview', `First 100 characters of the original message`, 'string') }}","Decision":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Decision', `\"RESPOND\" or \"NO_RESPONSE\"`, 'string') }}","Action Taken":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Action_Taken', `\"REPLIED\" or \"NO_OP\"`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender","displayName":"Sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message Preview","displayName":"Message Preview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Decision","displayName":"Decision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Action Taken","displayName":"Action Taken","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[256,112],"id":"d8491e52-86c3-48d4-8d5a-0248cd717611","name":"log_message","credentials":{"googleSheetsOAuth2Api":{"id":"YEsWezEtNkrbQPkC","name":"MZSN Google Sheets account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-592,96],"id":"ac121343-d53c-472a-bf5f-bcafa9a24345","name":"gemini-2.5-flash-agent","credentials":{"googlePalmApi":{"id":"tv5zC1S3vfzL9v7q","name":"MZSN Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"get","documentURL":"1YJDJI32blVDTnNZZoQbZ3e6uo7KXintCd8WI3LHlLck"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-224,112],"id":"204848e1-fddd-4271-82f2-c50823115197","name":"get_knowledge_base","credentials":{"googleDocsOAuth2Api":{"id":"tbCTqogo4I0RSuw2","name":"MZSN Google Docs account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.threadId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-400,112],"id":"5c1a6728-a650-477c-bcfd-c231f7bac0e4","name":"Simple Memory"},{"parameters":{"jsCode":"// In Agent Tool mode, n8n passes the input text as `query`\nconst text = query || \"\";\n\n// Format into HTML\nlet html = text\n  .replace(/\\n\\n/g, '</p><p>')            // paragraph breaks\n  .replace(/\\n/g, '<br/>')                // single newlines\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')  // bold\n\n// Bullets: lines that start with \"* \"\nhtml = html.replace(/<br\\/>\\*\\s+/g, '<br/><li>');\nhtml = html.replace(/<\\/p><p>\\*\\s+/g, '</p><ul><li>');\n\n// Close <ul> if opened\nif (html.includes('<ul>') && !html.includes('</ul>')) {\n  html += '</ul>';\n}\n\n// Ensure it’s wrapped in <p>…</p>\nif (!html.trim().startsWith('<')) {\n  html = `<p>${html}</p>`;\n}\n\n// Agent tools must return a plain string\nreturn html;\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[-48,112],"id":"e6175959-0814-4a0b-9b1c-12c7e2b7d01c","name":"format_html_message"}],"connections":{"email_received_trigger":{"main":[[{"node":"gmail_agent","type":"main","index":0}]]},"gmail_agent":{"main":[[{"node":"no_op","type":"main","index":0}]]},"send_email":{"ai_tool":[[{"node":"gmail_agent","type":"ai_tool","index":0}]]},"log_message":{"ai_tool":[[{"node":"gmail_agent","type":"ai_tool","index":0}]]},"gemini-2.5-flash-agent":{"ai_languageModel":[[{"node":"gmail_agent","type":"ai_languageModel","index":0}]]},"get_knowledge_base":{"ai_tool":[[{"node":"gmail_agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"gmail_agent","type":"ai_memory","index":0}]]},"format_html_message":{"ai_tool":[[{"node":"gmail_agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"695f463e-b526-45de-815d-d0d22de20612","triggerCount":0,"shared":[{"createdAt":"2025-09-12T23:36:16.866Z","updatedAt":"2025-09-12T23:36:16.866Z","role":"workflow:owner","workflowId":"nslsyZ6bIkXaGUh5","projectId":"UeEOi7Hou8inJPiR"}],"tags":[{"createdAt":"2025-09-09T12:25:02.103Z","updatedAt":"2025-09-09T12:25:02.103Z","id":"ZvY80149EbSRGo2O","name":"Agent"},{"createdAt":"2025-09-13T00:36:34.903Z","updatedAt":"2025-09-13T00:36:34.903Z","id":"rsm4sJR5Kyh0nhJo","name":"Token Optimized"}]}