reddit-report-to-slack-ho39AMiMzjZVCWLx.json
{"createdAt":"2025-09-06T16:38:06.930Z","updatedAt":"2025-09-15T17:48:43.000Z","id":"ho39AMiMzjZVCWLx","name":"Reddit Report to Slack","active":false,"isArchived":false,"nodes":[{"parameters":{"select":"channel","channelId":"#thebuildroom","text":"📋 Weekly r/n8n Business Automation Report\\n\\n❌ No business automation posts with significant upvotes (2+) were found in r/n8n this week.\\n\\n🔍 The automation scanned posts from r/n8n subreddit.\\n\\n💡 *This could mean either a quiet week for business automations or most posts focused on other topics.*\\n\\n🛠️ Check the workflow execution logs for detailed filtering information.","otherOptions":{"mrkdwn":true}},"id":"26b63c7c-a5e4-47a6-af88-7cae8acdf016","name":"Send No Results Message","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[240,352],"webhookId":"a9014f64-6861-450e-8cac-adfb797cbf4f","credentials":{"slackApi":{"id":"ndwAEKPd9iU1WY4v","name":"Slack account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1a2b3c4-d5e6-7f89-a0b1-23456789abcd","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"e526b794-8583-49fa-8e5d-5527a729351a","name":"Check if Posts Found","type":"n8n-nodes-base.if","typeVersion":2,"position":[16,256]},{"parameters":{"select":"channel","channelId":"#thebuildroom","text":"={{$json.slackMessage}}","otherOptions":{"mrkdwn":true}},"id":"57cd4fcd-7c88-4033-9326-98c6ec2df01a","name":"Send to Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[672,128],"webhookId":"69baa746-3bd8-4501-a431-3365040cbad7","credentials":{"slackApi":{"id":"ndwAEKPd9iU1WY4v","name":"Slack account"}}},{"parameters":{"jsCode":"// SUPER ROBUST: Format both Slack and Email messages with bulletproof ChatGPT extraction\nconst analyses = $input.all();\nconst postCount = analyses.length;\nconst currentDate = new Date().toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nconsole.log(`=== FORMAT MESSAGES DEBUG ===`);\nconsole.log(`Received ${postCount} analyses from ChatGPT`);\n\n// SLACK MESSAGE (Markdown format)\nlet slackMessage = '🚀 **Weekly r/n8n Business Automation Report**\\n\\n';\nslackMessage += `Found ${postCount} interesting business automation builds from this week:\\n\\n`;\n\n// EMAIL MESSAGE (HTML format)\nlet emailMessage = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; border-radius: 10px; text-align: center; margin-bottom: 30px; }\n    .post { background: #f8f9fa; padding: 20px; margin: 20px 0; border-radius: 8px; border-left: 4px solid #007bff; }\n    .post-title { color: #007bff; font-size: 18px; font-weight: bold; margin-bottom: 10px; }\n    .post-meta { color: #6c757d; font-size: 14px; margin-bottom: 15px; }\n    .keywords { background: #e9ecef; padding: 5px 10px; border-radius: 15px; font-size: 12px; display: inline-block; margin: 2px; }\n    .analysis { background: white; padding: 15px; border-radius: 5px; margin-top: 10px; }\n    .footer { text-align: center; color: #6c757d; margin-top: 30px; padding-top: 20px; border-top: 1px solid #e9ecef; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>📊 Weekly r/n8n Business Automation Report</h1>\n    <p>Generated on ${currentDate}</p>\n    <h2>${postCount} Business Automation Builds Found</h2>\n  </div>\n`;\n\nanalyses.forEach((analysis, index) => {\n  const data = analysis.json;\n  \n  console.log(`\\n=== ANALYSIS ${index + 1} DEBUG ===`);\n  console.log('Full data keys:', Object.keys(data));\n  console.log('Data sample:', JSON.stringify(data, null, 2).substring(0, 500) + '...');\n  \n  // SUPER ROBUST ChatGPT response extraction\n  let chatgptResponse = 'Analysis not available';\n  let extractionMethod = 'none';\n  \n  // Method 1: Standard OpenAI format\n  if (data.choices && Array.isArray(data.choices) && data.choices.length > 0) {\n    const choice = data.choices[0];\n    if (choice.message && choice.message.content) {\n      chatgptResponse = choice.message.content;\n      extractionMethod = 'choices[0].message.content';\n    } else if (choice.text) {\n      chatgptResponse = choice.text;\n      extractionMethod = 'choices[0].text';\n    }\n  }\n  // Method 2: Direct message format\n  else if (data.message && data.message.content) {\n    chatgptResponse = data.message.content;\n    extractionMethod = 'message.content';\n  }\n  // Method 3: Direct content\n  else if (data.content && typeof data.content === 'string' && data.content.length > 10) {\n    chatgptResponse = data.content;\n    extractionMethod = 'content';\n  }\n  // Method 4: Text field\n  else if (data.text && typeof data.text === 'string' && data.text.length > 10) {\n    chatgptResponse = data.text;\n    extractionMethod = 'text';\n  }\n  // Method 5: Response field\n  else if (data.response && typeof data.response === 'string' && data.response.length > 10) {\n    chatgptResponse = data.response;\n    extractionMethod = 'response';\n  }\n  // Method 6: Check if the entire data object IS the response\n  else if (typeof data === 'string' && data.length > 10) {\n    chatgptResponse = data;\n    extractionMethod = 'direct_string';\n  }\n  // Method 7: Look for any string field longer than 50 characters\n  else {\n    const stringFields = Object.keys(data).filter(key => \n      typeof data[key] === 'string' && data[key].length > 50\n    );\n    if (stringFields.length > 0) {\n      chatgptResponse = data[stringFields[0]];\n      extractionMethod = `dynamic_field_${stringFields[0]}`;\n    }\n  }\n  \n  console.log(`Extraction method: ${extractionMethod}`);\n  console.log(`Response preview: \"${chatgptResponse.substring(0, 100)}...\"`);\n  console.log(`Response length: ${chatgptResponse.length} characters`);\n  \n  // Get original post data from Filter Business Posts node\n  const originalPostData = $('Filter Business Posts').all()[index]?.json;\n  \n  if (!originalPostData) {\n    console.log(`❌ No original post data found for index ${index}`);\n    return;\n  }\n  \n  console.log(`✅ Original post: \"${originalPostData.title}\"`);\n  \n  // SLACK FORMAT\n  slackMessage += `**${index + 1}. ${originalPostData.title}**\\n`;\n  slackMessage += `👤 Author: u/${originalPostData.author} | 👍 ${originalPostData.score} upvotes | 💬 ${originalPostData.num_comments} comments\\n`;\n  slackMessage += `🔗 Link: ${originalPostData.permalink}\\n`;\n  slackMessage += `🏷️ Keywords: ${originalPostData.matched_keywords?.join(', ') || 'N/A'}\\n\\n`;\n  slackMessage += `**Enhancement Analysis:**\\n${chatgptResponse}\\n\\n`;\n  slackMessage += '---\\n\\n';\n  \n  // EMAIL FORMAT\n  emailMessage += `\n  <div class=\"post\">\n    <div class=\"post-title\">${index + 1}. ${originalPostData.title}</div>\n    <div class=\"post-meta\">\n      👤 Author: u/${originalPostData.author} | \n      👍 ${originalPostData.score} upvotes | \n      💬 ${originalPostData.num_comments} comments | \n      <a href=\"${originalPostData.permalink}\" target=\"_blank\">View on Reddit</a>\n    </div>\n    <div>\n      ${originalPostData.matched_keywords?.map(keyword => `<span class=\"keywords\">${keyword}</span>`).join(' ') || '<span class=\"keywords\">No keywords</span>'}\n    </div>\n    <div class=\"analysis\">\n      <strong>💡 Business Enhancement Analysis:</strong><br>\n      ${chatgptResponse.replace(/\\n/g, '<br>')}\n    </div>\n  </div>`;\n});\n\nslackMessage += '💡 *This report analyzes the most upvoted business automation posts from r/n8n in the past week.*';\n\nemailMessage += `\n  <div class=\"footer\">\n    <p>💡 This report analyzes the most upvoted business automation posts from r/n8n in the past week.</p>\n    <p><em>Automated by n8n workflow • Generated ${new Date().toISOString()}</em></p>\n  </div>\n</body>\n</html>`;\n\nconsole.log(`=== FINAL RESULT ===`);\nconsole.log(`Slack message length: ${slackMessage.length} characters`);\nconsole.log(`Email message length: ${emailMessage.length} characters`);\n\nreturn [{\n  json: {\n    slackMessage: slackMessage,\n    emailMessage: emailMessage,\n    emailSubject: `📊 Weekly r/n8n Report: ${postCount} Business Automation Builds Found`,\n    postCount: postCount,\n    generatedAt: new Date().toISOString()\n  }\n}];"},"id":"345392f4-8963-4ac2-b409-ab5b7659e7b3","name":"Format Slack Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,128]},{"parameters":{"resource":"chat","prompt":{"messages":[{"role":"system","content":"You are an expert business automation consultant. Analyze specific n8n automation projects shared by users and provide business enhancement recommendations.\n\nYour task: Analyze ONE specific automation project and provide concrete business improvements.\n\nOutput format:\n1. **Project Analysis**: What does this automation do based on the title/description?\n2. **Business Value Score**: Rate 1-10 for business potential\n3. **Enhancement Recommendations**: 3 specific ways to scale this for business use\n4. **ROI Opportunities**: How this could save costs or generate revenue\n\nFocus on the ACTUAL automation project described, not general n8n concepts.\n"},{"content":"==`\nAnalyze this automation project shared on r/n8n:\n\n**Project Title:** ${$json.title}\n**Creator:** u/${$json.author}\n**Community Response:** ${$json.score} upvotes, ${$json.num_comments} comments\n**Project Link:** ${$json.permalink}\n**Technology Keywords:** ${($json.matched_keywords || []).join(', ')}\n\n**Project Description:**\n${$json.selftext || 'No detailed description provided - analyze based on the project title and keywords.'}\n\n---\nIMPORTANT: Analyze the automation project with this specific title and focus on what business problem this solves and how it can be enhanced for commercial use.\nDo NOT analyze Reddit monitoring or data extraction.\n`"}]},"options":{},"requestOptions":{}},"id":"0942c874-fcec-4954-994d-2ecebabac554","name":"ChatGPT Analysis","type":"n8n-nodes-base.openAi","typeVersion":1.1,"position":[240,128],"credentials":{"openAiApi":{"id":"0rwJYnaxa1pKH1ib","name":"OpenAi account"}}},{"parameters":{"jsCode":"// FIXED: Filter and process Reddit posts for business automation builds\nconst posts = $input.all();\nconst filteredPosts = [];\n\n// Calculate timestamp for 7 days ago\nconst oneWeekAgo = Math.floor((Date.now() - (7 * 24 * 60 * 60 * 1000)) / 1000);\n\n// Expanded keywords for n8n community (more inclusive)\nconst businessKeywords = [\n  // Original business terms\n  'business', 'company', 'enterprise', 'workflow', 'automation', \n  'process', 'crm', 'sales', 'marketing', 'finance', 'hr', 'operations',\n  'dashboard', 'reporting', 'analytics', 'integration', 'api', 'database',\n  'webhook', 'notification', 'alert', 'monitoring', 'data', 'sync',\n  'email', 'slack', 'teams', 'calendar', 'scheduling', 'invoice',\n  'customer', 'lead', 'pipeline', 'project', 'task', 'productivity',\n  // n8n specific terms\n  'n8n', 'trigger', 'node', 'build', 'setup', 'tool', 'script', \n  'bot', 'connect', 'automate', 'flow', 'execute', 'run'\n];\n\nconsole.log(`🔍 Processing ${posts.length} posts from r/n8n subreddit`);\nconsole.log(`📅 Filtering for posts newer than: ${new Date(oneWeekAgo * 1000).toISOString()}`);\n\nfor (const post of posts) {\n  const postData = post.json;\n  \n  // Debug: Show post details\n  console.log(`📝 Post: \"${postData.title}\" - Score: ${postData.score} - Created: ${new Date((postData.created_utc || 0) * 1000).toISOString()}`);\n  \n  // Check if post is from the last 7 days\n  const postTime = postData.created_utc || 0;\n  if (postTime < oneWeekAgo) {\n    console.log(`⏰ Skipping old post: ${postData.title}`);\n    continue; // Skip posts older than 7 days\n  }\n  \n  const title = (postData.title || '').toLowerCase();\n  const selftext = (postData.selftext || '').toLowerCase();\n  const combined = title + ' ' + selftext;\n  \n  // Check if post contains business automation keywords\n  const matchedKeywords = businessKeywords.filter(keyword => combined.includes(keyword));\n  const hasBusinessKeywords = matchedKeywords.length > 0;\n  \n  // LOWERED THRESHOLD: Only require 2+ upvotes instead of 5+\n  if (hasBusinessKeywords && postData.score >= 2) {\n    console.log(`✅ Match found: \"${postData.title}\" - Keywords: [${matchedKeywords.join(', ')}] - Score: ${postData.score}`);\n    \n    filteredPosts.push({\n      json: {\n        id: postData.id,\n        title: postData.title,\n        author: postData.author,\n        score: postData.score,\n        url: postData.url,\n        permalink: `https://reddit.com${postData.permalink}`,\n        selftext: postData.selftext,\n        created_utc: postData.created_utc,\n        num_comments: postData.num_comments,\n        upvote_ratio: postData.upvote_ratio,\n        created_date: new Date(postData.created_utc * 1000).toISOString(),\n        matched_keywords: matchedKeywords\n      }\n    });\n  } else {\n    const reason = !hasBusinessKeywords ? 'No business keywords' : `Score too low (${postData.score})`;\n    console.log(`❌ Filtered out: \"${postData.title}\" - Reason: ${reason}`);\n  }\n}\n\n// Sort by score (upvotes) descending\nfilteredPosts.sort((a, b) => b.json.score - a.json.score);\n\n// Limit to top 10 posts to avoid overwhelming ChatGPT\nconst topPosts = filteredPosts.slice(0, 10);\n\nconsole.log(`🎯 FINAL RESULT: ${topPosts.length} business automation posts found`);\nif (topPosts.length > 0) {\n  console.log(`🏆 Top post: \"${topPosts[0].json.title}\" with ${topPosts[0].json.score} upvotes`);\n}\n\nreturn topPosts;\n//return filteredPosts.slice(0, 1);"},"id":"c71650cc-b8d4-4873-993a-2b27b57b2b43","name":"Filter Business Posts","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,128]},{"parameters":{"operation":"getAll","subreddit":"n8n","filters":{"category":"top"}},"id":"fdd26d11-8b7f-4e42-909a-7ce4b288c1fe","name":"Get r/n8n Posts","type":"n8n-nodes-base.reddit","typeVersion":1,"position":[-208,128],"credentials":{"redditOAuth2Api":{"id":"eiQAgVQckvJE6e8p","name":"Reddit account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":7}]}},"id":"cf8736e5-af94-45c6-b198-8fd00fe3626f","name":"Weekly Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-432,128]}],"connections":{"Check if Posts Found":{"main":[[{"node":"ChatGPT Analysis","type":"main","index":0}],[{"node":"Send No Results Message","type":"main","index":0}]]},"Format Slack Message":{"main":[[{"node":"Send to Slack","type":"main","index":0}]]},"ChatGPT Analysis":{"main":[[{"node":"Format Slack Message","type":"main","index":0}]]},"Filter Business Posts":{"main":[[{"node":"Check if Posts Found","type":"main","index":0}]]},"Get r/n8n Posts":{"main":[[{"node":"Filter Business Posts","type":"main","index":0}]]},"Weekly Schedule":{"main":[[{"node":"Get r/n8n Posts","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"df6672c4-ab3d-4847-b9c9-dc2cc9a6bb6d","triggerCount":0,"shared":[{"createdAt":"2025-09-06T16:38:06.932Z","updatedAt":"2025-09-06T16:38:06.932Z","role":"workflow:owner","workflowId":"ho39AMiMzjZVCWLx","projectId":"UeEOi7Hou8inJPiR"}],"tags":[]}