status_request_tool-7i2DomurxQHxw62r.json
{"updatedAt":"2025-11-26T23:49:04.000Z","createdAt":"2025-11-26T23:49:04.352Z","id":"7i2DomurxQHxw62r","name":"Status_Request_Tool","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1_svqa2KMMPsv3Bizq3HwMdXccN8yMA9wuaodEguRtA8","mode":"list","cachedResultName":"Invoices","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_svqa2KMMPsv3Bizq3HwMdXccN8yMA9wuaodEguRtA8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Invoices","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_svqa2KMMPsv3Bizq3HwMdXccN8yMA9wuaodEguRtA8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Invoice_No","lookupValue":"={{ $json.invoice_number }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-752,320],"id":"a325f5ad-b252-43f9-aabf-c5b1010d6e4a","name":"Get row(s) in sheet","alwaysOutputData":true},{"parameters":{"workflowInputs":{"values":[{"name":"w_action"},{"name":"w_invoice_number"},{"name":"w_status"}]}},"id":"d09b58ba-3e62-4a55-ad3d-13a560dd66d9","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1104,320]},{"parameters":{"assignments":{"assignments":[{"id":"d5576272-bcd7-408e-a745-d20cac803fde","name":"action","value":"={{ $json.w_action }}","type":"string"},{"id":"3a7eccf8-7b9f-4321-b141-4e1f56afe88f","name":"invoice_number","value":"={{ Number($json.w_invoice_number) }}","type":"number"},{"id":"2b2b3f46-0764-4384-857a-a08069e4d683","name":"status","value":"={{ $json.w_status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-928,320],"id":"601e21d8-127d-4ef7-8a2b-cecffd8eb9ae","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-352,512],"id":"7df6a5cf-8cf4-48dc-9334-9ee47657cfdf","name":"No Operation, do nothing"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09V67L1YR4","mode":"list","cachedResultName":"mzsn-invoices"},"text":"=The invoice {{ $('Edit Fields').item.json.invoice_number }} was not found.","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-128,512],"id":"73b6468c-50a5-4112-b3a3-a1f2b4a2ac50","name":"Not Found","webhookId":"a04c01f2-b1f5-4beb-9c83-4cf9b8cc77c1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96d248e6-5767-48bc-adcf-336c17a782bb","leftValue":"={{ $json.Invoice_No }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-576,320],"id":"8f27b1ef-3a4e-44fc-bba0-a9d5f2e9464b","name":"Invoice_Exist","alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Edit Fields').item.json.action }}","rightValue":"Request","operator":{"type":"string","operation":"equals"},"id":"1ea20d8d-2373-40f1-9009-edc893c4b7a0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Request"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51eac955-adcc-4f4f-a889-dcc42f19ba9d","leftValue":"={{ $('Edit Fields').item.json.action }}","rightValue":"Url","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"url"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-368,96],"id":"d092c5ee-7b96-4b38-8e0e-9a666463f6ee","name":"Switch"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09V67L1YR4","mode":"list","cachedResultName":"mzsn-invoices"},"text":"=The status of invoice {{ $json.Invoice_No }} is {{ $json.Status }}, and was generated on {{ DateTime.fromISO($json.Generated_At).toFormat('MMMM dd, yyyy') }}.","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[0,0],"id":"e0c3dd64-5b39-4546-833c-0b49d450e225","name":"Send Invoice Status","webhookId":"52f84314-fb4b-4605-b68b-64d17ce63e8e"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09V67L1YR4","mode":"list","cachedResultName":"mzsn-invoices"},"text":"=The pdf of invoice {{ $json.Invoice_No }} can be downloaded from the following url: {{ $json.PDF_Link }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[0,208],"id":"24a8b944-5fca-4bca-884e-a504149d25db","name":"Send Invoice URL","webhookId":"580c8d3e-8dbe-4ede-866e-11bcf6d8688f"}],"connections":{"Start":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Invoice_Exist","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Not Found","type":"main","index":0}]]},"Invoice_Exist":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send Invoice Status","type":"main","index":0}],[{"node":"Send Invoice URL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a059f9e1-3fad-46cb-83e7-9d07f9251f47","triggerCount":0,"shared":[{"updatedAt":"2025-11-26T23:49:04.354Z","createdAt":"2025-11-26T23:49:04.354Z","role":"workflow:owner","workflowId":"7i2DomurxQHxw62r","projectId":"UeEOi7Hou8inJPiR"}],"tags":[]}