token-tracker-test-workflow-FAy9mQpcWvtrl1Iy.json
{"createdAt":"2025-09-16T15:41:12.223Z","updatedAt":"2025-09-18T01:26:50.000Z","id":"FAy9mQpcWvtrl1Iy","name":"Token Tracker Test Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-512,-320],"id":"82e95d26-0586-4c41-a28e-dbebe0d4ed97","name":"Manual Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"7a11b221-1533-4bd7-ad09-d1f5dca650b7","name":"message","value":"Tell me a joke","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-320],"id":"559a4f49-d0ab-4fc5-bce9-679115174154","name":"Set Test Data"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"You are a helpful assistant that provides brief, accurate responses."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-112,-320],"id":"8cae6eaf-622b-46b5-a79c-facb19572d7c","name":"Test AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-112,-64],"id":"7fac3951-190c-44d9-9561-95899af69022","name":"Gemini 2.5 Flash","credentials":{"googlePalmApi":{"id":"tv5zC1S3vfzL9v7q","name":"MZSN Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Direct token tracking logic - no HTTP calls\nconst aiAgentOutput = $input.first().json;\nconst originalData = $('Set Test Data').first().json;\n\n// Initialize tracking data\nlet trackingData = {\n  inputTokens: 0,\n  outputTokens: 0,\n  totalTokens: 0,\n  inputCost: 0,\n  outputCost: 0,\n  totalCost: 0,\n  model: 'unknown',\n  provider: 'unknown',\n  dataSource: 'none',\n  steps: [],\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('=== DIRECT TOKEN TRACKING TEST ===');\nconsole.log('AI Agent Output keys:', Object.keys(aiAgentOutput));\nconsole.log('AI Output:', aiAgentOutput.output);\n\n// Method 1: Try to extract from intermediateSteps\nif (aiAgentOutput.intermediateSteps && Array.isArray(aiAgentOutput.intermediateSteps)) {\n  console.log('Found intermediateSteps, checking for token data...');\n  \n  for (const step of aiAgentOutput.intermediateSteps) {\n    console.log('Step:', step.action?.tool || 'no-tool');\n    \n    if (step.action && step.action.messageLog && Array.isArray(step.action.messageLog)) {\n      for (const message of step.action.messageLog) {\n        if (message.kwargs && message.kwargs.response_metadata && message.kwargs.response_metadata.usage) {\n          const usage = message.kwargs.response_metadata.usage;\n          trackingData.inputTokens += usage.prompt_tokens || 0;\n          trackingData.outputTokens += usage.completion_tokens || 0;\n          trackingData.totalTokens += usage.total_tokens || 0;\n          trackingData.totalCost += usage.cost || 0;\n          trackingData.model = message.kwargs.response_metadata.model_name || trackingData.model;\n          trackingData.dataSource = 'intermediateSteps';\n        }\n      }\n    }\n  }\n}\n\n// Method 2: Try direct usage\nif (trackingData.dataSource === 'none' && aiAgentOutput.usage) {\n  console.log('Found direct usage data...');\n  const usage = aiAgentOutput.usage;\n  trackingData.inputTokens = usage.prompt_tokens || usage.inputTokens || 0;\n  trackingData.outputTokens = usage.completion_tokens || usage.outputTokens || 0;\n  trackingData.totalTokens = usage.total_tokens || usage.totalTokens || 0;\n  trackingData.totalCost = usage.cost || 0;\n  trackingData.model = usage.model || 'direct';\n  trackingData.dataSource = 'direct_usage';\n}\n\n// Method 3: Fallback to estimation\nif (trackingData.dataSource === 'none') {\n  console.log('No real token data found, using estimation...');\n  \n  const outputText = aiAgentOutput.output || '';\n  const inputText = originalData.message || '';\n  \n  const systemMessageLength = 70;\n  const promptTemplateLength = 50;\n  const estimatedInputChars = systemMessageLength + inputText.length + promptTemplateLength;\n  \n  trackingData.inputTokens = Math.ceil(estimatedInputChars / 4);\n  trackingData.outputTokens = Math.ceil(outputText.length / 4);\n  trackingData.totalTokens = trackingData.inputTokens + trackingData.outputTokens;\n  trackingData.dataSource = 'text_estimation';\n  \n  // Apply Gemini pricing\n  trackingData.inputCost = (trackingData.inputTokens / 1000000) * 0.075;\n  trackingData.outputCost = (trackingData.outputTokens / 1000000) * 0.30;\n  trackingData.totalCost = trackingData.inputCost + trackingData.outputCost;\n  trackingData.model = 'gemini-2.5-flash-estimated';\n}\n\n// Round costs\ntrackingData.inputCost = parseFloat(trackingData.inputCost.toFixed(6));\ntrackingData.outputCost = parseFloat(trackingData.outputCost.toFixed(6));\ntrackingData.totalCost = parseFloat(trackingData.totalCost.toFixed(6));\n\n// Create result\nconst result = {\n  aiResponse: aiAgentOutput.output || 'No response',\n  tokenTracking: trackingData,\n  testStatus: {\n    hasResponse: Boolean(aiAgentOutput.output),\n    hasTokenData: trackingData.dataSource !== 'none',\n    isRealData: trackingData.dataSource !== 'text_estimation',\n    totalCost: trackingData.totalCost\n  }\n};\n\nconsole.log('=== FINAL RESULTS ===');\nconsole.log('Data Source:', trackingData.dataSource);\nconsole.log('Input Tokens:', trackingData.inputTokens);\nconsole.log('Output Tokens:', trackingData.outputTokens);\nconsole.log('Total Cost:', trackingData.totalCost);\nconsole.log('Has Real Token Data:', result.testStatus.isRealData);\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-320],"id":"fed475d8-be5a-478f-8249-45d19c570144","name":"Direct Token Tracker"}],"connections":{"Manual Trigger":{"main":[[{"node":"Set Test Data","type":"main","index":0}]]},"Set Test Data":{"main":[[{"node":"Test AI Agent","type":"main","index":0}]]},"Test AI Agent":{"main":[[{"node":"Direct Token Tracker","type":"main","index":0}]]},"Gemini 2.5 Flash":{"ai_languageModel":[[{"node":"Test AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d8734c5d-5b76-4c68-927c-b421db4ffc39","triggerCount":1,"shared":[{"createdAt":"2025-09-16T15:41:12.225Z","updatedAt":"2025-09-16T15:41:12.225Z","role":"workflow:owner","workflowId":"FAy9mQpcWvtrl1Iy","projectId":"UeEOi7Hou8inJPiR"}],"tags":[]}