whatsapp-integration-4uWPVe4tvJdyMIHc.json
{"createdAt":"2025-09-10T13:26:11.679Z","updatedAt":"2025-09-10T19:25:08.000Z","id":"4uWPVe4tvJdyMIHc","name":"Whatsapp Integration","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 1. WhatsApp Message Trigger\n\n**What it does:**\n- Triggers when your business receives messages to its WhatsApp number\n- The sender and message contents are available for any kind of processing you'd like (text and attachments)","height":476,"width":1080,"color":4},"type":"n8n-nodes-base.stickyNote","position":[800,0],"typeVersion":1,"id":"d48e5b38-958c-4198-acee-a9ca34e2fd35","name":"Sticky Note"},{"parameters":{"content":"## 2. WhatsApp AI Agent\n\n**What it does:**\n- Triggers when your business receives messages to its WhatsApp number\n- The AI agent receives user input and processes that with a large language model as its brain\n- We'll use the agent's output to reply back to the original number","height":492,"width":1080,"color":5},"type":"n8n-nodes-base.stickyNote","position":[800,496],"typeVersion":1,"id":"4c627a39-6422-45e1-97ae-f24e4e0c884f","name":"Sticky Note1"},{"parameters":{"content":"## 3. WhatsApp \"Human-In-The-Loop\" Flow\n\n- Sends an approve/deny message to a WhatsApp number\n- Waits for user to provide a response\n- Continues processing the automation with the user's decision","height":508,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","position":[800,1008],"typeVersion":1,"id":"ce031581-8e85-4871-864f-d7e4ac6c16c9","name":"Sticky Note2"},{"parameters":{"content":"# WhatsApp n8n Setup Guide\n\n### Part 1: Meta Business Portfolio & App Setup\nBefore configuring n8n, you need to set up a portfolio and an application within the Meta ecosystem.\n\n1.  **Create a Meta Business Portfolio**\n    *   Navigate to [business.facebook.com](https://business.facebook.com).\n    *   If you don't have one, create a **Business Portfolio**.\n    *   **Important**: You must verify your account to proceed. Meta will require you to add a credit card or a phone number for verification.\n\n2.  **Create a New App**\n    *   Inside your Business Portfolio, navigate to **Accounts** -> **Apps**.\n    *   Click **Add** and select **Create a new app ID**. This will redirect you to the Meta for Developers portal.\n\n3.  **Configure the New App**\n    *   In the app creation wizard:\n        *   Give your app a descriptive name (e.g., \"n8n Hotel Bot\").\n        *   For **Use Cases**, select **Other**.\n        *   For **App Type**, you **must** select **Business**. This cannot be changed later.\n        *   Confirm your details and create the app.\n---\n### Part 2: Configuring n8n Credentials\n\nNow you'll create the two different credentials inside your n8n workflow.\n\n#### A. 📥 WhatsApp Trigger Credentials (for Receiving Messages)\n\nThis credential uses OAuth2 and allows your n8n workflow to be triggered when your business number receives a WhatsApp message.\n\n1.  **Get App ID & App Secret**\n    *   In the Meta for Developers portal ([developers.facebook.com](https://developers.facebook.com)), select your new app.\n    *   Navigate to **App Settings** -> **Basic**.\n    *   Here you will find your `App ID` and `App Secret`. Keep this page open.\n\n2.  **Configure in n8n**\n    *   In your n8n workflow, add the **WhatsApp Business Cloud Trigger** node.\n    *   In the `Credential` field, select **Create New**.\n    *   Paste your `App ID` into the **Client ID** field.\n    *   Paste your `App Secret` into the **Client Secret** field.\n    *   Save the credential. You should see a \"Connection successful\" confirmation.\n\n#### B. 📤 WhatsApp Action Credentials (for Sending Messages)\n\nThis credential uses an API key and allows n8n to send messages *from* your business number.\n\n1.  **Get Access Token & Business Account ID**\n    *   Go back to the Meta for Developers portal.\n    *   In the left-hand menu, under your app, navigate to **WhatsApp** -> **API Setup**.\n    *   Under the **Access token** section, click **Generate access token**. You'll be guided through a short wizard to link your Facebook and WhatsApp accounts to the app.\n    *   Once generated, copy the temporary **Access Token**.\n    *   On the same page, find and copy the **WhatsApp Business Account ID**.\n\n2.  **Configure in n8n**\n    *   In your n8n workflow, add a **WhatsApp Business Cloud** node (the one for actions, like \"Send Message\").\n    *   In the `Credential` field, select **Create New**.\n    *   Paste the **Access Token** you copied into the `Access Token` field.\n    *   Paste the **WhatsApp Business Account ID** into the `Business Account ID` field.\n    *   Save the credential.\n\n3.  **✅ Verify Test Number**\n    *   On the **API Setup** page in the Meta for Developers portal, you must add and verify any phone number you wish to send test messages to. The system will not allow you to send messages to unverified numbers while in development mode.","height":1516,"width":780},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"6ff1445c-9732-483a-a1cc-6b6cd2b623cc","name":"Sticky Note3"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[912,224],"id":"85bcefcb-c8b7-4c54-be89-b5f7bca9e9cd","name":"whats_app_msg_trigger","webhookId":"454e1693-1f70-423b-b3ea-9776c3282628","credentials":{"whatsAppTriggerApi":{"id":"LP7vavPzAxhlADbt","name":"WhatsApp OAuth account"}}},{"parameters":{"promptType":"define","text":"=Format this user message as markdown:\n\n{{ $json.messages[0].text.body }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1232,224],"id":"9200e749-31d3-4e4a-907d-6e8bd4bd0fba","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2160,1232],"id":"8ec7c5f9-d690-4600-a3c9-d4cef227b8b5","name":"gpt-4.1-mini","credentials":{"openAiApi":{"id":"0rwJYnaxa1pKH1ib","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f5e6ba06-9e8b-4ec5-8875-9c3c27593242","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"6688cf80-ed9e-47ff-910c-6c6cded32b80","name":"text","value":"={{ $json.text }}","type":"string"}]},"includeOtherFields":"={{ false }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1616,224],"id":"9b7a965b-38fa-4e88-b2ae-90856dd8627d","name":"set_msg_result"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[928,736],"id":"1eaa05ae-755c-4d7d-8e91-d9fb90cdebf2","name":"whats_app_agent_trigger","webhookId":"454e1693-1f70-423b-b3ea-9776c3282628","credentials":{"whatsAppTriggerApi":{"id":"LP7vavPzAxhlADbt","name":"WhatsApp OAuth account"}}},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1232,736],"id":"ca6f5ba0-17f8-416b-a2f4-6a2631238ba4","name":"AI Agent"},{"parameters":{"operation":"send","phoneNumberId":"785118491353747","recipientPhoneNumber":"={{ $('whats_app_agent_trigger').item.json.contacts[0].wa_id }}","textBody":"={{ JSON.stringify($json.output) }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1616,736],"id":"5fd5f30d-1ab4-477f-b97e-0c0f987223c3","name":"sent_agent_msg","webhookId":"bb9147f2-3b17-4b72-91fa-ea78bfb15cad","credentials":{"whatsAppApi":{"id":"CfB4stt7HcP4CdLb","name":"WhatsApp account"}}},{"parameters":{"operation":"sendAndWait","phoneNumberId":"=785118491353747","recipientPhoneNumber":"17868524446","message":"Do you like my poem?\n\nMy fridge whispered softly, “You’re hungry, my friend,”\nSo I opened the door… and the snacks never end.","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1232,1216],"id":"9054cf16-a637-418c-8506-b81097e372e5","name":"whats_app_send_and_wait","webhookId":"84f412f2-2bca-4566-827d-37dcbc8d9afc","credentials":{"whatsAppApi":{"id":"CfB4stt7HcP4CdLb","name":"WhatsApp account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[912,1216],"id":"982e3a45-9aa4-4c3e-a8b5-b2adc66aa142","name":"manual_trigger"},{"parameters":{"assignments":{"assignments":[{"id":"6259faf1-499f-418b-9365-a0051e9063a6","name":"data.approved","value":"={{ $json.data.approved }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1616,1216],"id":"d91b7b20-cf21-4e8f-b268-45598cac7750","name":"set_approval_response"}],"connections":{"whats_app_msg_trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"gpt-4.1-mini":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0},{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"set_msg_result","type":"main","index":0}]]},"whats_app_agent_trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"sent_agent_msg","type":"main","index":0}]]},"whats_app_send_and_wait":{"main":[[{"node":"set_approval_response","type":"main","index":0}]]},"manual_trigger":{"main":[[{"node":"whats_app_send_and_wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9b0e8900-983e-4fbf-a2e2-e1cb16140c90","triggerCount":0,"shared":[{"createdAt":"2025-09-10T13:26:11.682Z","updatedAt":"2025-09-10T13:26:11.682Z","role":"workflow:owner","workflowId":"4uWPVe4tvJdyMIHc","projectId":"UeEOi7Hou8inJPiR"}],"tags":[]}